html ,body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
}

img{
	width: 100%;
}
a{
	text-decoration: none;
	color: black;
		margin: 10px 0;
}
p{
	word-spacing: 3px;
}
hr{
   border: 1px solid #f7f7f7;
}
.btn-black{
	padding: 2% 3%;
	border-radius: 2px;
	background-color: #323333;
	color: white;
}
.btn-gray{
	color: gray;
	background-color: lightgray;
	padding: 15% 10%;
	margin: 2px;
	border-radius: 3px;
	margin-right: 5px;
	color: black;
}
.img-link{
	width: 10%;
	height: 10%;
	margin-top: 0px;
}
.home-links{
	margin: 10px 0;
}
.text-header{
	color: #81c579;
}
.sidenav {
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    width: 3%;
}

.profile-pic{
	 border-radius: 50%;
	 width: 150px;

}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.container{
	width: 90%;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
}

.col-1{
	float: left;
	width: 8.33%;
}

.col-2{
	float: left;
	width: 16.66%;
}

.col-3{
	float: left;
	width: 25%;
}

.col-4{
	float: left;
	width: 33.33%;
}

.col-5{
	float: left;
	width: 41.66%;
}

.col-6{
	float: left;
	width: 50%;
}

.col-7{
	float: left;
	width: 58.33%;
}

.col-11{
	width: 91.66%;
	float: left;
}
.circle-left{
	width: 60px;
	float: right;
	margin-top: -30;
}